/* || Global */
:root {
  --light-grey: #57606a;
  --very-light-grey: #e2e2e2;
  --very-light-grey2: #f3f3f3;
  --very-light-grey3: #bbbbbb;
  --dark-grey: #24292f;
  --link-blue: #0969da;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: var(--dark-grey);
  height: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* || Mobile Navbar */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
}

.nav-title {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  color: white;
}

.mobile-nav-links {
  display: none;
  flex-direction: column;
  width: 100%;
}

.mobile-nav-link {
  display: block;
  padding: 1rem;
  color: white;
  width: 100%;
  text-align: center;
}

.mobile-nav-link:hover {
  color: salmon;
  background-color: grey;
}

.toggle:checked + .lbl-toggle + .mobile-nav-links {
  display: flex;
}

/* || Non-Mobile Navbar */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-grey);
  }

  .profile-head-nav {
    display: flex;
    margin: 1rem;
  }

  .profile-head-nav .profile-img {
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
    width: auto;
  }

  .profile-head-nav .profile-name {
    color: white;
    font-size: 1.2rem;
  }

  .profile-head-nav .profile-job {
    color: var(--very-light-grey3);
  }

  .nav-links {
    display: flex;
    height: 100%;
    margin-right: 1rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    border-bottom: var(--dark-grey) 3px solid;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 3px var(--very-light-grey3) solid;
  }

  .current-nav {
    border-bottom: 3px salmon solid;
  }
}

/* Break point Utilities */
@media (min-width: 768px) {
  .max-dis-768 {
    display: none;
  }
}

.min-dis-768 {
  display: none;
}

@media (min-width: 768px) {
  .min-dis-768 {
    display: flex;
  }
}
