body {
    margin: 0;
    padding: 0;
    background: url(images/Phuket.JPG) no-repeat;
    background-size: cover;
}
.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Myriad Roman', sans-serif;
}
.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1 {
    font-size: 40px;
    font-weight: 100;
}
.box h5 {
    font-size: 20px;
    font-weight: 100;
}
.box p {
    text-align: justify;
}
ul {
    margin: 0;
    padding: 0;
}
.box li {
    display: block;
    margin: 6px;
    list-style: none;
}
.box li a {
    color: white;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}
#github-icon {
    font-size: 60px;
}
.box li a:hover {
    color: #7e7e7e;
}
.box2 {
    position: relative;
    bottom: 30px;
    width: 940px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: left;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Myriad Roman', sans-serif;
}
.box2 h5 {
    position: relative;
    bottom: 10px;
    padding: 0;
    font-size: 30px;
    font-family: 'Myriad Roman', sans-serif;
}
#phone-icon {
    position: relative;
    right: 9px;
}