<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3ac2380933.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Aidan Loten | About</title>
  </head>
  <body>
    <div class="main">
      <aside>
        <img src="../images/profile.jpg" alt="Profile Pic" class="box-img" />
        <h1>Aidan Loten</h1>
        <h5><span>Full-Stack engineer</span>, USA</h5>
        <ul class="nav">
          <li>
            <a href="../index.html"> <span>Home</span></a>
          </li>
          <li>
            <a href=""> <span>Portfolio</span></a>
          </li>
          <li>
            <a href=""><span class="current">About</span></a>
          </li>
          <li>
            <a href=""><span>Resume</span></a>
          </li>
          <li>
            <a href=""><span>Skills</span></a>
          </li>
          <li>
            <a href=""><span>Contact</span></a>
          </li>
        </ul>
        <ul class="icons">
          <li>
            <a href="https://github.com/aloten" target="_blank"
              ><i class="fab fa-github-square"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/aidan-loten-a009b9141/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
        </ul>
        <footer>&copy; 2021 Aidan Loten</footer>
      </aside>
      <div class="profile">
        <p>
          OOP/Python/Java/JavaScript/React/NodeJS/Express/HTML/CSS--studying
          full-stack web development. I'm currently making a digital wine cellar
          application and social network.
        </p>
      </div>
    </div>
  </body>
</html>
