<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3ac2380933.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Aidan Loten | Resume</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="profile-head-nav">
        <img class="profile-img" src="../images/profile.jpg" alt="" />
        <div class="profile-title">
          <h1 class="profile-name">Aidan Loten</h1>
          <span class="profile-job">Full-stack engineer, USA</span>
        </div>
      </div>
      <input id="collapsible" class="toggle" type="checkbox" />
      <label for="collapsible" class="lbl-toggle"
        ><i class="fas fa-bars fa-2x"></i
      ></label>
      <ul class="nav-links">
        <li><a href="../index.html" class="nav-link">Portfolio</a></li>
        <li><a href="resume.html" class="nav-link current-nav">Resume</a></li>
      </ul>
    </nav>

    <section class="main-section resume-section">
      <a
        class="resume-pdf back-btn"
        href="../files/AidanLoten_Resume.pdf"
        target="_blank"
        >Download Resume</a
      >
      <a href="../index.html" class="back-btn">Back</a>
    </section>

    <footer class="footer">&copy; Aidan Loten 2021</footer>
  </body>
</html>
