:root {
  --light-grey: #aaaaaa;
  --dark-grey: #24292f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--dark-grey);
  height: 4rem;
  border-bottom: var(--light-grey) solid 1px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  position: absolute;
  margin: 1rem 0;
  right: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
}

.nav-links {
  background-color: var(--dark-grey);
  font-size: 1.3rem;
  position: relative;
  top: 4rem;
  padding-top: 1rem 0;
  line-height: 3rem;
  text-align: center;
  max-height: 0px;
  overflow: hidden;
}

.nav-links li {
  border-bottom: var(--light-grey) solid 1px;
}

.nav-link {
  display: block;
  width: 100%;
  color: white;
}

.nav-link:hover {
  background-color: #eaeaea;
}

.toggle:checked + .lbl-toggle + .nav-links {
  max-height: 100vh;
}

/* Profile */
.profile {
  padding: 1.5rem;
}

.profile-head {
  display: flex;
  align-items: center;
}

.profile-img {
  margin-right: 1.5rem;
  float: left;
  border-radius: 50%;
  width: 20%;
  max-width: 10rem;
  height: auto;
}

.profile-name {
  font-size: 1.7rem;
}

.profile-job {
  line-height: 1.6rem;
  color: #6d6d6d;
}

.profile-desc {
  clear: both;
  margin-top: 2rem;
}

/* Portfolio */
.portfolio {
  margin-top: 1rem;
  border-top: 1px solid var(--dark-grey);
  padding-top: 0.5rem;
  height: 600px;
}

.project-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  list-style: none;
}

.project-item {
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem;
}

.project-item-head {
  display: flex;
  justify-content: space-between;
}

.project-item-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech-item {
  margin: 5px;
  padding: 5px;
  border: 1px var(--light-grey) solid;
  border-radius: 0.5rem;
}
