html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: minmax(25rem, 1fr) minmax(30rem, 3fr);
  height: 100%;
}

/* || Sidebar */

aside {
  background: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

aside img {
  display: block;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 3rem auto;
}

aside h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin: 1rem;
}

aside h5 {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

aside h5 span {
  color: rgb(60, 117, 221);
}

.nav {
  list-style: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.nav li {
  font-size: 1.4rem;
  padding: 1rem;
  /* border: 1px red solid; */
}

.nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: block;
}

.nav li a span:hover,
.current {
  color: rgb(60, 117, 221);
  padding-bottom: 3px;
  border-bottom: rgb(60, 117, 221) 1px solid;
}

.nav li a:focus {
  color: coral;
}

/* || Sidebar icons */

.icons {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  word-spacing: 2rem;
}

.icons li {
  font-size: 4rem;
  display: inline-block;
  padding: 0;
}

.icons li a {
  color: black;
}

.icons li:first-child a:hover {
  color: rgb(172, 41, 96);
}

.icons li:last-child a:hover {
  color: rgb(41, 86, 172);
}

footer {
  font-size: 1.3rem;
  margin: 3rem;
}

/* Homepage */
.main-section {
  background: url('/images/design.jpeg') no-repeat center center/cover;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
