/* || Global */
:root {
  --light-grey: #57606a;
  --very-light-grey: #e2e2e2;
  --very-light-grey2: #f3f3f3;
  --very-light-grey3: #bbbbbb;
  --dark-grey: #24292f;
  --link-blue: #0969da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: var(--dark-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* || Utility Classes */
.back-btn {
  margin: 1.5rem 0;
  display: block;
  padding: 0.2rem 0;
  width: 100%;
  background-color: var(--very-light-grey2);
  color: var(--dark-grey);
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid var(--very-light-grey3);
  border-radius: 6px;
}

.back-btn:hover,
.back-btn:focus {
  background-color: var(--very-light-grey);
  border-color: var(--light-grey);
}

/* || Navbar */
.navbar {
  background-color: var(--dark-grey);
  height: 4rem;
  border-bottom: var(--light-grey) solid 1px;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  position: absolute;
  margin: 1rem 0;
  right: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
}

.nav-links {
  z-index: 1;
  background-color: var(--dark-grey);
  font-size: 1.3rem;
  position: relative;
  top: 4rem;
  padding-top: 1rem 0;
  line-height: 3rem;
  text-align: center;
  max-height: 0px;
  overflow: hidden;
}

.nav-links li {
  border-bottom: var(--light-grey) solid 1px;
}

.nav-link {
  display: block;
  width: 100%;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--light-grey);
}

.toggle:checked + .lbl-toggle + .nav-links {
  max-height: 100vh;
}

/* || Profile */
.profile {
  padding: 1.5rem;
}

.profile-head {
  display: flex;
  align-items: center;
}

.profile-img {
  margin-right: 1.5rem;
  float: left;
  border-radius: 50%;
  width: 20%;
  max-width: 10rem;
  height: auto;
}

.profile-name {
  font-size: 1.7rem;
}

.profile-job {
  line-height: 1.6rem;
  color: var(--light-grey);
}

.profile-desc {
  clear: both;
  margin-top: 2rem;
}

/* || Portfolio */
.portfolio {
  margin-top: 1rem;
  border-top: 1px solid var(--light-grey);
  padding-top: 0.5rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  list-style: none;
}

.project-item {
  margin-top: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem;
}

.project-item-head {
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.project-name {
  flex: 1;
}

.project-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.project-link {
  color: var(--link-blue);
}

.project-link:hover,
.project-link:focus {
  color: salmon;
}

.project-desc {
  margin-bottom: 0.7rem;
  font-size: 0.85rem;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tech-item {
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.7rem;
  border: 1px var(--light-grey) solid;
  border-radius: 1rem;
  font-size: 0.85rem;
}

/* || Wine Map Page */
.map-section {
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.bk-root {
  height: auto;
  width: auto;
  overflow: hidden;
  border: 2px var(--light-grey) solid;
  border-radius: 3px;
}

/* || Sudoku Page*/
.sudoku-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Sudoku grid */
table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
  margin: 10px;
  margin-left: 25px;
}

colgroup,
tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
  font-size: 17px;
}

input {
  width: 20px;
  border: 0;
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 17px;
}

/* Footer */
.footer {
  height: 3rem;
  padding: 1rem;
  background-color: var(--dark-grey);
  color: white;
  text-align: center;
}
